/* Importação de fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Zerando margens, preenchimentos e configurando caixa de modelo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configurações gerais para o elemento HTML */
html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%; /* Definindo a unidade de fonte base para 10px (facilita cálculos em rem) */
    color: white;
    font-family: 'Lato', sans-serif;
}

/* Configurações para o corpo da página */
body {
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url(/img/img5.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

/* Configurações para o cabeçalho */
header {
    width: 100%;
    height: 7vh;
    background-color: rgba(22, 22, 22, 0.2);
}

/* Configurações para o conteúdo do menu */
.menu-content {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
}

/* Configurações para o logotipo */
.logo {
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
    cursor: pointer;
}

/* Configurações para a lista de itens do menu */
.menu-content .list-itens {
    display: flex;
    list-style: none;
    gap: 10px;
}

/* Configurações para os links do menu */
.menu-content .list-itens a {
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    transition: 0.2s ease-in; /* Transição suave para o efeito hover */
    position: relative;
}

/* Efeito de sublinhado nos links do menu */
.menu-content .list-itens a:before {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 1px;
    background-color: rgb(251, 255, 0);
    transition: all 1.5s ease;
}

/* Efeito de sublinhado nos links do menu ao passar o mouse */
.menu-content .list-itens a:hover:before {
    width: 100%;
}

/* Configurações para o conteúdo principal */
main {
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Configurações para o conteúdo principal */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilo do texto principal */
.primary-text {
    width: 850px;
    font-size: 5rem;
    margin-bottom: 2rem;
    text-align: center;
}

/* Estilo do texto secundário */
.second-text {
    margin-bottom: 7rem;
    font-size: 2rem;
    color: rgb(165, 165, 165);
    text-transform: uppercase;
}

/* Configurações para os botões */
.btns {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Estilo dos botões */
.btns button {
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
}

/* Efeito de hover nos botões */
.btns button:hover {
    color: rgb(251, 255, 0);
    border: none;
}

/* Efeito de fundo nos botões ao passar o mouse */
.btns button:before {
    content: ' ';
    border-radius: 20px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 60px;
    background-color: rgb(61, 61, 61);
    z-index: -1;
    transition: 1s;
}

/* Efeito de fundo nos botões ao passar o mouse */
.btns button:hover:before {
    width: 100%;
}
